<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
    <mat-card style="width: 50%; justify-content: center">
        <mat-card-header style="width: 100%">
            <mat-card-title style="text-align: center;">Dynamic Input Form Json</mat-card-title>
        </mat-card-header>
      <div *ngIf='showGif' style="width: 100%;text-align: center;">
    <img src="../assets/loader.gif" height="100px" width="100px">
  </div>
      <div *ngIf='!showGif' style="width: 100%;text-align: center;">
    <div *ngFor='let question of QuestionsDIFJ;let i=index'>
      <form>
        <div style="margin-left: -65px;" *ngIf='showCheckbox(question)'>
              <mat-checkbox [(ngModel)]="question.value" name="checkbox" color='primary'>{{question.label}}</mat-checkbox>
        </div>
        <div *ngIf='showDate(question)'>
          {{question.label}}
          <input type="date" placeholder="enter date" [(ngModel)]="question.value" [ngModelOptions]="{standalone: true}" (focusout)='showData()'
            name="date">
            <input matInput [matDatepicker]="picker" placeholder="enter date" [(ngModel)]="question.value" [ngModelOptions]="{standalone: true}"(focusout)='convert(question)'>
            <mat-datepicker-toggle matSuffix [for]="picker" (focusout)='convert(question)'></mat-datepicker-toggle>
            <mat-datepicker #picker (focusout)='convert(question)'></mat-datepicker>
        </div>
       <mat-card-actions *ngIf='isButton(question)'>
          <button type="button" (click)='submit()' mat-raised-button color="primary"> {{question.label}}</button>
       </mat-card-actions>
      </form>
    </div>
  </div>
</mat-card>
</div>
<router-outlet></router-outlet>
