<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12" style="display: flex; justify-content: center;align-items: center;
height: 100%;">
    <mat-card style="width: 50%;">
        <mat-card-header style="width: 100%;display: flex;justify-content: center;">
            <mat-card-title style="text-align: center;">Dynamic Input Form Json</mat-card-title>
        </mat-card-header>
      <div *ngIf='showGif' style="width: 100%;text-align: center;">
    <img src="../assets/loader.gif" height="100px" width="100px">
  </div>
      <div *ngIf='!showGif' style="width: 100%;text-align: center;">
    <div *ngFor='let question of QuestionsDIFJ;let i=index'>
      <div>

        <div style="margin-left: -65px;" *ngIf='showCheckbox(question)'>
           <mat-checkbox [(ngModel)]="question.value" name="checkbox" color='primary'>{{question.label}}</mat-checkbox>
        </div>
        <div *ngIf='showDate(question)'>
          {{question.label}}
            <mat-form-field class="example-full-width" style="margin-left: 50px;">
            <input matInput [matDatepicker]="picker" [(ngModel)]="question.value" (dateChange)="convert(question)" (dateInput)="convert(question)"
             >
            <mat-datepicker-toggle matSuffix [for]="picker"  (dateChange)="convert(question)" (dateInput)="convert(question)"></mat-datepicker-toggle>
            <mat-datepicker touchUi  #picker   (dateChange)="convert(question)" (dateInput)="convert(question)"></mat-datepicker>
          </mat-form-field>
          <div *ngIf='datepickerHasError(question)'>
              <p style="margin-top: -20px;color: red;margin-left: -.5em;font-size: 12px" >
                  {{question.validations[0].message}}
                </p>
          </div>
        </div>

       <mat-card-actions *ngIf='isButton(question)'>
          <button type="button" (click)='submit()' mat-raised-button color="primary" [disabled]="validateForSubmitButton()"> {{question.label}}</button>
       </mat-card-actions>
      </div>
    </div>
  </div>
</mat-card>
</div>
<router-outlet></router-outlet>
